.menu-container {
    background-color: #001529; /* Цвет фона меню */
    width: 100%; /* Максимальная ширина меню */
  }
  
  .menu {
    max-width: 1180px; /* Ширина контента меню */
    margin: 0 auto; /* Центрирование контента меню */
  }

  